/* Minimal Importer Styles */
#import-monster-button {
  background-color: #3c3f41;
  color: #fff;
  border: 1px solid #666;
  padding: 6px 10px;
  cursor: pointer;
}

#monster-importer {
  min-width: 600px;
  min-height: 400px;
  padding: 10px;
}

